<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>first_vue</title>
    <script src="vue.js" type="text/javaScript" charset="utf-8"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but first_vue doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app1">
<!--      v-if-->
      <ul id="ul1" @focus="focusMsg">
        <li v-for="item1,index1 in items">
          {{index1}}{{item1.msg}}
        </li>
      </ul>
      <ul>
        <li v-for="value,key in object">
          {{key}} : {{value}}
        </li>
      </ul>
      <P>{{msg1}}</P>
      <p>{{msg}}</p>
      <p>{{reverseMsg2}}</p>
      <button @click="reverseMsg1">反转消息</button>
      <button v-on:click="msg = 'hello'">change it</button>
      <p v-if="seen">你现在看到了吗</p>
      <a v-bind:href="url">百度</a>
      <a v-bind:href="url"></a>
<!--      绑定css-->
      <div id="app4" class="test" v-bind:class = "{active: isActive, green: isGreen}"
      style="width: 200px; height: 300px; text-align: center; line-height: 200px;">
        hi vue
        <div :style="{active: isActive, green: isGreen}">
          hi vue2
        </div>
      </div>
      <div @click="click1">
        <div @click="click2">
          click me
        </div>
      </div>
    </div>
    <div id = "app-3">
      <p v-if="condition">现在看到我了把</p>
    </div>
    <script type="text/javaScript">
      var app4 = new Vue({
        el: '#app4',
        data:{
          isActive : true,
          isGreen: true
        }
      })
      var app3 = new Vue({
        el: '#app-3',
        data () {
          return {
            condition:false
          }
        }
      })
      
      var vm = new Vue({
        el: '#app1', 
        data:{
            msg:"hello vue",
            msg1:"hellp vue1",
            url:"https://www.baidu.com/",
            seen: false,
            items:[
              {msg:"1111"},
              {msg: "2222"}
            ],
          object:{
              a1:1,
              a2:2,
              a3:3
          }
        },
        methods: {
          click1: function (){
            console.log("111111111111");
            
          },
          click2: function name(params) {
            console.log("2222222222222");
            
          },
          reverseMsg1: function() {
            console.log("1111111111");
            this.msg1 = this.msg1.split('').reverse().join('')
          },
          focusMsg:function () {
            console.log("xxxxxxxx");
          }
        },
        computed: {
          reverseMsg2:function name(params) {
            return this.msg.split("").reverse().join("")
          }
        },
        created:function () {

        }
      }
      )
    </script>
    <style type="text/css">
    .test{font-size: 30px;}
    .active{background: red}
    .green{color: green}
    .red{color: red}
    .blue{color: blue; font-size: 100px}
    </style>
    <!-- built files will be auto injected -->
  </body>
</html>
